<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html"
>
<head>
    <meta charset="UTF-8">
    <title>New Patients</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Your content goes here -->
    <div class="p-3">
        <form th:action="@{/savePatient}" method="post">
            <div class="mb-2">
                <label for="nom" class="form-label">Name</label>
                <input type="text" id="nom" name="nom" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <label for="dateNaissance" class="form-label">Date Naissance</label>
                <input type="date" id="dateNaissance" name="dateNaissance" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <label for="malade" class="form-label">Malede</label>
                <input type="checkbox" id="malade" name="malade" type="text" class="form-check-input">
            </div>
            <div class="mb-2">
                <label for="score" class="form-label">Score</label>
                <input type="text" id="score" name="score" type="text" class="form-control">
            </div>

            <button class="btn btn-success">
                Save
            </button>

        </form>
    </div>
</div>

</body>
</html>